<div class="article-details">
  <h2 class="articleTitle">{{article.title}}<small>{{article.date}}</small></h2>
  <h4 class="articleByLine"><small><em>by</em></small> {{article.author}}</h4><br>
  <p>{{article.body}}</p>
  <img src={{article.imageURL}} class="articleImg">
</div>
